{%extends "layout.html"%}
{%block content%}
    <div class="row">
        <div class="col-5">
            <img class="img-thumbnail rounded float-left" src="static/pics/{{user.img_file}}"/>
        </div>
        <div class="col-7">
            <h1>{{user.username}}</h1>
            <h2>{{user.firstname}} {{user.lastname}}</h2>
            <h3>Solved: {{solved}}</h3>
        </div>
    </div>
    <div class="row">
            <a class="btn btn-primary" href="{{url_for('editacct')}}" role="button">Update Account</a>
    </div>
{%endblock content%}