{% extends "layout.html"%}
{% block content%}
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<legend>Update</legend>
		{{form.title.label}}
		{%if form.title.errors%}
			{%for error in form.title.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.title(class_="",value=prob.title)}}
		{{form.statement.label}}
		{%if form.statement.errors%}
			{%for error in form.statement.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.statement(class_="",value=prob.statement)}}
		{{form.input_exp.label}}
		{%if form.input_exp.errors%}
			{%for error in form.input_exp.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.input_exp(class_="",value=prob.input_exp)}}
		{{form.output_exp.label}}
		{%if form.output_exp.errors%}
			{%for error in form.output_exp.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.output_exp(class_="",value=prob.output_exp)}}
		{{form.samplein.label}}
		{%if form.samplein.errors%}
			{%for error in form.samplein.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.samplein(class_="",value=prob.samplein)}}
		{{form.sampleout.label}}
		{%if form.sampleout.errors%}
			{%for error in form.sampleout.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.sampleout(class_="",value=prob.sampleout)}}
		{{form.note.label}}
		{%if form.note.errors%}
			{%for error in form.note.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{%if prob.note%}
			{{form.note(class_="",value=prob.note)}}
		{%else%}
			{{form.note(class_="")}}
		{%endif%}
		{{form.submit3(class_="")}}
	</form>
	<form method="POST" action="", enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<h3>default: </h3>
		<img src="static/pics/{{user.img_file}}" class="avatar">
		{{pic.pic(class_="")}}
		{{pic.submit2(class="")}}
	</form>
{%endblock content%}