{% extends "layout.html" %}
{% block content %}
<h2>{{problem.title}}</h2>
<h4>{{problem.category}}</h4>
<h4>{{problem.date_posted}}</h4>
<body>{{problem.statement}}</body>
{%if user%}
<form method="POST" action="" class="form-problem" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
    {%if form.code.errors%}
      {%for error in form.code.errors%}
        {{error}}
      {%endfor%}
    {%endif%}
    {{form.code_area(class_="form-control form-control-lg form-text-area")}}
    {{form.code(class_="form-control-file")}}
    {{form.submit(class="")}}
    </div>
  </form>
  {%endif%}
{% endblock content %}