{% extends "layout.html"%}
{% block content%}
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<legend>Update</legend>
		<div class="form-group">
		{{form.title.label}}
		{%if form.title.errors%}
			{%for error in form.title.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.title(class_="form-control",value=title)}}
		</div>
		<div class="form-group">
		{{form.statement.label}}
		{%if form.statement.errors%}
			{%for error in form.statement.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.statement(class_="form-control",value=statement)}}
		</div>
		<div class="form-group">
		{{form.input_exp.label}}
		{%if form.input_exp.errors%}
			{%for error in form.input_exp.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.input_exp(class_="form-control",value=input_exp)}}
		{{form.output_exp.label}}
		</div>
		<div class="form-group">
		{%if form.output_exp.errors%}
			{%for error in form.output_exp.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.output_exp(class_="form-control",value=output_exp)}}
		</div>
		<div class="form-group">
		{{form.samplein.label}}
		{%if form.samplein.errors%}
			{%for error in form.samplein.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.samplein(class_="form-control",value=samplein)}}
		</div>
		<div class="form-group">
		{{form.sampleout.label}}
		{%if form.sampleout.errors%}
			{%for error in form.sampleout.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.sampleout(class_="form-control",value=sampleout)}}
		</div>
		<div class="form-group">
		{{form.note.label}}
		{%if form.note.errors%}
			{%for error in form.note.errors%}
				{{error}}
			{%endfor%}
		{%endif%}
		{{form.note(class_="form-control",value=note)}}
		</div>
		{{form.submit3(class_="btn btn-primary")}}

	</form>
	<form method="POST" action="", enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<h3>default: </h3>
		<img src="static/pics/{{user.img_file}}" class="avatar">
		<div class="form-group">
		{{pic.pic(class_="form-control-file")}}
		</div>
		{{pic.submit2(class="btn btn-primary")}}
	</form>
{%endblock content%}